html,body,div,span,
applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
dd,dl,dt,li,ol,ul,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	line-height: 1;
	font-family: inherit;
	text-align: left;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ol,ul {
	list-style: none;
}

q:before,q:after,
blockquote:before,blockquote:after {
	content: "";
}

ol {
	text-transform: uppercase;
	font-family: helvetica, sans-serif;
	list-style-type: none;
}

ol li {
	padding: .4em .4em .4em .4em;
	margin-left: 1em;
}

ol > li:last-child{
   border-bottom: 0px solid #bcbcbc;
}

h4 {
	padding-bottom: -1em;
	padding-top: 1em;
}

.available, .row {
	font-size: 1.3em;
}

.row1, .row2, .row3, .row4 {
	border-bottom: 1px solid #bcbcbc;
}

.row {
	display: inline-block; width: 50%;
}

.row1 {
	color: #575757;
}

.row2 {
	color: #6a95bc;
}

.row3 {
	color: #0065A4;
}

.row4 {
	color: #004875;
}